Checks: >
  -*,
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  clang-diagnostic-warning,
  -readability-uppercase-literal-suffix,
  -readability-magic-numbers,
  -modernize-avoid-c-arrays,
  -readability-identifier-length,
  -modernize-use-trailing-return-type,
  -readability-function-cognitive-complexity,
  -bugprone-easily-swappable-parameters,
  -misc-non-private-member-variables-in-classes,
  -readability-named-parameter,
  -readability-redundant-member-init,
  -cert-dcl16-c,
  -modernize-use-nodiscard,
  -clang-analyzer-core.UndefinedBinaryOperatorResult,
WarningsAsErrors: '*'
CheckOptions:
  - { key: readability-identifier-naming.ClassCase, value: lower_case }
  - { key: readability-identifier-naming.FunctionCase, value: lower_case }
  - { key: readability-identifier-naming.FunctionIgnoredRegexp, value: (TEST|TYPED).*}
  - { key: readability-identifier-naming.ParameterCase, value: lower_case }
  - { key: readability-identifier-naming.ParameterIgnoredRegexp, value: .+_$ }
  - { key: readability-identifier-naming.EnumCase, value: lower_case }
  - { key: readability-identifier-naming.MacroDefinitionCase, value: UPPER_CASE }
  - { key: readability-identifier-naming.MacroDefinitionIgnoredRegexp, value: TypeParam|.+_$ }
